body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.form-container {
    background: rgb(200, 129, 193);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 300px;
}

h2 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

/* Focus */
input:focus {
    border-color: blue;
}

/* Valid */
input:valid {
    border-color: green;
}

/* Invalid */
input:invalid {
    border-color: red;
}

button {
    width: 100%;
    padding: 10px;
    background: blue;
    color: rgb(222, 149, 149);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}

.error {
    color: red;
    font-size: 14px;
}