body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    width: 300px;
    margin: 50px auto;
}

input {
    width: 70%;
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px;
}