body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

#userContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background: white;
    width: 250px;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: left;
}

.card h3 {
    margin: 0;
}

.card p {
    margin: 5px 0;
    font-size: 14px;
}

#errorMsg {
    color: red;
    margin-top: 20px;
}